---
import Layout from "../layouts/Layout.astro";
import SocialMediaButtons from "../components/homepage/SocialMediaButtons";
import HomeCarousel from "../components/homepage/HomeCarousel.astro";
---

<Layout title="TUSANVI - San Vicente" showSidebar={true}>
  <HomeCarousel />
  <!-- Container de botones de redes sociales -->
  <SocialMediaButtons client:only="react" />

  <div class="flex items-center justify-center w-full h-screen"></div>
</Layout>
