---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import SocialMediaButtons from "../components/homepage/SocialMediaButtons";
---

<Layout title="TUSANVI - San Vicente" showSidebar={true}>
  <!-- Imagen de fondo -->
  <Image
    src="/assets/PORTADA.jpg"
    alt="tusanvi"
    width="4032"
    height="3024"
    class="object-center h-svh object-cover absolute -z-20 w-full"
  />
  <!-- Fondo gradiente -->
  <div
    class="absolute w-screen h-svh bg-gradient-to-b from-transparent from-55% via-[#2B4520] via-90% to-[#2B4520] -z-10"
  >
  </div>
  <!-- Container del título -->
  <div
    class="w-full h-svh flex justify-end items-center text-right text-white"
  >
    <h1 class="text-5xl md:text-9xl font-bold leading-[1.1] mr-4 md:mr-20 drop-shadow-2xl">
      <div class="animate-fade-in-left animate-duration-[1500ms] ">
        Explore
      </div>
      <div class="animate-fade-in-left animate-duration-[1500ms] animate-delay-1000">
        San Vicente
      </div>
    </h1>
  </div>
  <!-- Container de botones de redes sociales -->
  <SocialMediaButtons client:only />


  <div class="w-full h-screen flex justify-center items-center bg-[#2B4520]">

  </div>
</Layout>

<style>
  h1 {
    -webkit-text-stroke: 2px white;
    color: transparent;
  }
</style>
