---
import { Image } from "astro:assets";
import SidebarItem from "./SidebarItem.astro";

const sidebarItems = [
  {
    title: "Que hacer ahora?",
    icon: "bx-message-alt-check",
    link: "/que-hacer-ahora",
  },
  {
    title: "Restaurantes",
    icon: "bx-restaurant",
    link: "/restaurantes",
  },
  {
    title: "Hospedaje",
    icon: "bx-hotel",
    link: "/hospedaje",
  },
  {
    title: "Tours",
    icon: "bxs-tree",
    link: "/tours",
  },
  {
    title: "Servicios y Comercio",
    icon: "bx-store",
    link: "/servicios-y-comercio",
  },
  {
    title: "Afiliados",
    icon: "bx-group",
    link: "/afiliados",
  },
  {
    title: "Quiénes somos?",
    icon: "bx-help-circle",
    link: "/quienes-somos",
  },
];

---
<!-- Aside es la barra lateral (estilado en el css) -->
<aside class="shadow-xl hidden md:block z-[3]">
  <div class="w-full h-full flex flex-col items-center relative pt-36 pb-10">
    <!-- Container del logo y texto de TUSANVI -->
    <div class="absolute -top-28 w-11/12 flex flex-col items-center space-y-2 text-black">
        <Image
          src="/assets/tusanvi_solo.webp"
          alt="tusanvi"
          width="529"
          height="346"
          class="object-contain"
        />
        <span class="text-center text-sm font-semibold">
            CÁMARA DE TURISMO Y COMERCIO DE SAN VICENTE
        </span>
        <h4 class="text-center text-3xl font-bold">TUSANVI</h4>
    </div>
    <!-- Contenido del sidebar -->
    <div class="flex flex-col gap-y-3 w-full px-5" id="sidebar-items">
      {sidebarItems.map((item) => {
        return <SidebarItem {...item} />
      })}
    </div>
  </div>
</aside>

<style>
  aside {
    /* background: #2B4520; */
    background: white;
    width: 250px;
    position: fixed;
    top: 20vh;
    left: 50px;
    border-radius: 20px;
    padding: 10px;
  }

</style>
