---
import Icon from '../icons/Icon.astro';

interface Props {
  title: string;
  icon: string;
  link: string;
  className?: string;
}

const { title, icon, link, className } = Astro.props;
---

<a
  class:list={[
    className,
    "flex items-center gap-x-4 border-2 border-gray-300 hover:shadow",
    "rounded-lg py-2 px-4 w-full cursor-pointer transition-all duration-300",
  ]}
  href={link}
>
  <Icon name={icon} className="text-3xl" />
  <span class="font-semibold">{title}</span>
</a>
