---
import Sidebar from '../components/sidebar/Sidebar.astro';
import '@fontsource/calistoga';

interface Props {
	title: string;
	showSidebar?: boolean;
}

const { title, showSidebar } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
	  <link href='/assets/css/boxicons.min.css' rel='stylesheet'>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="max-w-[100vw] min-h-screen relative w-full">
		<div class="w-full min-h-screen">
			<slot />
		</div>
		{showSidebar && <Sidebar />}
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #2B4520;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	body {
		overflow-x: hidden;
		overflow-y: auto;
	}

		/* width */
	::-webkit-scrollbar {
		width: 10px;
		background: transparent;
	}
	
	/* Track */
	::-webkit-scrollbar-track {
		background: #2b4520cc;
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #426931;
		border-radius: 5px;
	}
	
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #598d43;
	}

  @font-face {
    font-family: "ChunkFive";
    font-display: swap;
    src: url("/assets/fonts/ChunkFive-Regular.otf");
  }
</style>
